.feature {
	@include wrapper();
	padding-bottom: 115px;
}

.preview__wrapper {
	@include row-flex();
}

.preview {
	@include col();
	@include size(6);
	@include size-xs(12);
	margin-top: 135px;

	&__category {
		@extend .blog__category;
		margin-top: 23px;
	}

	&__title {
		margin-top: 18px;
		@include xs(font-size, 18px);
	}

	&__content {
		margin-top: 29px;
		line-height: 24px;
	}
}