@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Light.eot');
    src: url('../fonts/Ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2'),
        url('../fonts/Ubuntu/Ubuntu-Light.woff') format('woff'),
        url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

